<div class="meme">
	<img class="meme__img" src="http://lorempixel.com/400/200/cats" alt="Image uploading a work-in-progress; but here's a random cat pic.">
	<p class="meme__caution">Image uploading is a work-in-progress; but here's a random cat pic. :-)</p>
	<h3 class="meme__title"><%= @memestar.description %></h3>
	<p class="meme__author"><%= @memestar.author %> shared this.</p>
</div>