// Place all the styles related to the memes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meme {
	display: block;
	// max-width: 75%;
	margin: 0 auto 50px auto;
	margin-top: 30px;
	padding: 30px;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.meme__img {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.meme__caution {
	margin: 0;
	padding: 10px;
	background: #ddd;
	text-align: center;
	color: #c09853;
	width: 100%;
}

.meme__title {
	text-align: center;
	font-family: Helvetica, sans-serif;
	color: #A4997D;
	font-size: 3vw;
}

.meme__author {
	text-align: center;
}