// Place all the styles related to the memes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meme {
	width: 75%;
	margin: 0 auto;
	margin-top: 30px;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.meme > .meme__img {
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 20px;
}

.meme > .meme__title {
	text-align: center;
	font-family: Helvetica, sans-serif;
	color: #A4997D;
	font-size: 3vw;
}