// Place all the styles related to the memes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: rgba(147,206,222,1);
}

.hero {
	width: 75%;
	margin: 0 auto;
	margin-top: 30px;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.hero h1 {
	text-align: center;
	font-family: Helvetica, sans-serif;
	color: #555;
	font-size: 3vw;
}

.hero img {
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 20px;
}
